.intro {
	height: 80vh;
	margin-top: 5rem;

	main {
		h1 {
			font-family: 'Major Mono Display', cursive;
		}
		h3 {
			text-transform: uppercase;
			font-family: 'Major Mono Display', cursive;
		}
	}
}

.intro__cli,
.intro__graphql {
	margin-top: 1rem;
	font-size: 15px;
}

.intro__pluralsight {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	.pluralsight--logo {
		width: 150px;
		height: auto;
	}
}

.intro--icon {
	width: 30px;
}

.intro__about {
	max-width: 700px;
}
