.talks {
	margin-top: 4rem;

	main {
		h3 {
			font-family: 'Major Mono Display', cursive;
		}
	}
}

.talks__box {
	padding: 1rem;
	border-bottom: 1px solid #333;

	&:last-child {
		border-bottom: none;
	}
}
