.open-source {
	margin-top: 4rem;

	main {
		h3 {
			font-family: 'Major Mono Display', cursive;
		}
	}
}

.open-source__box {
	padding: 1rem;
	border-bottom: 1px solid #333;
}

.open-source--link__box {
	padding: 2rem;
}
