$blue: #3b5cc9;

.modal {
	background-color: #000;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding-top: 5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.modal__header--icon {
	cursor: pointer;
	margin-bottom: 1rem;
}

@keyframes slide-in {
	100% {
		transform: translateX(0%);
	}
}

.modal__body {
	.modal__list {
		min-height: 20vh;
		padding: 0;
		list-style: none;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;

		li {
			transform: translateX(-100%);
			animation: slide-in 0.5s forwards;
		}
	}

	.modal__social {
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		max-width: 400px;
		margin-top: 3rem;
		padding-top: 2rem;

		a {
			padding: 1rem;
			line-height: 2rem;
			text-decoration: none;
			font-size: 14px;
			&:hover {
				transition-delay: 0.15s;
				color: $blue;
			}
		}
	}
}
