@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.work {
	margin-top: 7rem;
}

.work__box {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 5rem;
}

.work--image {
	max-width: 550px;
	width: 100%;
	height: 100%;
	object-fit: contain;
	opacity: 1;
	animation-name: fade-in;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}

.work__box__description {
	padding: 0 2rem;
	flex-basis: 400px;
	display: flex;
	flex-direction: column;
	justify-content: center;

	h2 {
		font-family: 'Major Mono Display', cursive;
	}

	h4 {
		text-transform: uppercase;
		font-size: 13px;
	}

	p {
		font-size: 14px;
	}
}
